* {
    margin: 0;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url("imgs/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.hidden{
    display: none;
}
.header {
    height: 100px;
}

nav {
    margin-top: 45px;
    margin-left: 240px;
}

nav hr {
    margin-top: 30px;
    margin-left: 48px;
    background: #E7E7F2;
    opacity: 0.4;
    max-width: 1440px;
}

.navigation li {
    font-size: 18px;
    display: inline;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    margin-left: 48px;
}



.main {
    display: inline-block;
    width: 100%;
    max-width: 948px;
    height: 482px;
    margin-left: 240px;
    margin-top: 204px;
}

.main h3 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    opacity: 0.8;
}

.main h1 {
    font-weight: bold;
    font-size: 80px;

    color: #fff;
    margin-top: 14px;
}


/* BUTTONS */

.main_menu_buttons {
    background: rgba(255, 255, 255, 0.4);
    height: 62px;
    min-width: 230px;


    border-radius: 16px;
    border-style: none;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;

    padding: 20px 30px;

}


.buttons {
    display: flex;
    justify-content: justify-content;

    margin-top: 44px;
}


.firstOne {
    margin-right: 60px;
}


/* ASIDE */

.asideBar {
    display: inline-block;
    float: right;
    background: rgba(255, 255, 255, 0.15);
    min-width: 570px;
    height: 400px;
    margin-top: 214px;
    border-radius: 16px 0px 0px 16px;
    backdrop-filter: blur(70px);
}

.asideBar h6{
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 300;
    margin-top: 48px;
    max-width: 172px;
    padding-left: 36px;

}

.asideBar h2{
    font-weight: 300;
    font-size: 36px;
    line-height: 135%;
    /* or 49px */
    margin-top: 16px;
    max-width: 220px;
    color: #FFFFFF;
    padding-left: 36px;
}

.leftContainer {
    display: inline-block;
    width: 50%;
    
    /* padding-left: 36px; */
}

.arrow {
    padding-left: 36px;
    margin-top: 36px;
}

.dotSlider{
    text-align: center;
}

.dotSlider a{
    
    margin-left: 10px;
}

.imgContainer {
    
    width: 50%;
    float: right;
    
}

.imgContainer img {
    height: 400px;
}


/* LOGIN PAGE */

.logInPage {
    width: 1200px;
    height: 810px;

    background: rgba(255, 255, 255, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.logInside {
    float: right;
    width: 50%;
    height: auto;
    background: #fff;
    height: 100%;
}

.logInside h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    
    max-width: 480px;

    text-align: center;

    color: #4F4F4F;

    margin-left: 44px;
    margin-top: 54px;
}

.logInside h3 {
    font-size: 18px;
    line-height: 110%;
    
    font-weight: 700;
    text-align: center;

    color: rgba(79, 79, 79, 0.5);

    margin-top: 26px;
}

.back {
    display: block;

    font-size: 18px;
    color: rgba(79, 79, 79, 0.8);
    font-weight: 700;
    text-decoration: none;
    
    padding-top: 40px;
    margin-left: 36px;


}


.enterButtons {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    max-width: 528px;

    font-size: 18px;

    margin-left: 38px;
    
}

.enterButtons a {
    text-decoration: none;
    color: #4F4F4F;
}



/* LOGIN FORM */

.logInForm {
    display: block;
    max-width: 390px;
    margin-top: 58px;

    margin: 58px auto;
}

.logInForm input {
    display: block;
    border: none;
    border-bottom: 2px solid rgba(113, 113, 113, 0.8);
    height: 48px;

    width: 386px;
    margin-bottom: 10px;

    color: rgb(113, 113, 113);
    font-size: 18px;
}

.logInForm label {
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;

    color: rgba(79, 79, 79, 0.8);
}

.logInForm a {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    

    float: right;
    letter-spacing: 0.1vh;
    
    color: rgba(79, 79, 79, 0.8);

    margin-top: 6px;
    margin-bottom: 40px;
}

.logInButton input {
    margin-top: 64px;
    background: #609676;

    width: 100%;
    max-width: 280px;

    border: none;
    height: 68px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    

    margin: 0 auto;

}




/* LINK TO THE UNI PAGE */

.linkToTheUni {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    display: block;
    text-decoration-line: underline;

    
    margin-top: 94px;
    color: rgba(79, 79, 79, 0.6);
}


/* BUTTONS ACTIVE WHILE CLICK */

.active {
    font-weight: 700;
}




